<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div>
            <div class="col-sm-12 col-md-12 col-lg-12 parte1">
                <h1>Sistema De Regristo</h1>
                <p>Es un pequeño Sistema de registro programado en PHP CRUD para el taller</p>
            <div class="col-sm-12 col-md-4 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/proyecto.jpg" class="img-fluid img-proyecto" >
            </div>
        </div>
    </div>
</div>
