<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
<img src="../../../assets/PerfilFoto.JPG" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Emanuel Gonzalo Flores</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-2 col-lg-8">
        <span>
            <h1>Acerca de Mi</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ut odit sapiente alias at labore asperiores earum possimus porro magnam, laboriosam voluptatem error. Maxime laboriosam culpa est tenetur debitis aliquid?

            </p>
        </span>
    </div>
</div>
