.row{
    padding: 100px;
    color: aliceblue;;
}
div{
    background-color: #38acf1;
    text-align: center;
   
}
.col-xs-12 col-sm-2 col-md-2 col-lg-2 Nombre{
    font-weight: bold;
    margin-top: 70%;
    margin-left: 10%;
    
}

.nombre{
    color: aliceblue;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin-left: -55%;
    margin-top: 40%;
    

}
.programador{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    
    position: relative;
    margin-left: -55%;
    

}

.img-flui{
    position: absolute;
    width: 40%;
    border-radius: 50%;
    box-shadow: 3px 3px 3px gray; 
    left: 30%;
    top: 950px;
}
@media(min-width: 576px){
    .img-fluid{
        position: absolute;
        width: 19%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray; 
        left: 1%;
        top: 350px;
    }
}
@media(max-width: 575px){
    .img-fluid{
        position: absolute;
        width: 30%;
        border-radius: 80%;
        box-shadow: 3px 3px 3px gray; 
        left: 30%;
        top: 950px;
    }
}
